body { 
    background-color: #eee; 
    /*background-image: url('../imgs/dark_Tire.png');*/
}

.game {
    width: 576px;
    margin: 0 auto;
    color: #333;
    position: relative;
    background-color: #aaa;
}

.cell {
    width: 70px;
    height: 50px;
    margin: 1px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    font-size: 2em;
}

.cell:hover {
    background-color: #eee;
}